@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,900&family=Work+Sans:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
    --black: #262f3d;
    --gray: #7b8ba4;
    --teal: #0f97b8;
    --lightblue: #eff7fa;
    --white: #fff;
    --yellow: #ffdb54;
    font-size: 16px;
}

body {
    background-color: #EFF7FA;
    line-height: 1.6;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

*:after, *:before {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    line-height: 34px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 12px;
}

.preloader {
    position: fixed;
    height: 110vh;
    width: 100%;
    background: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s all;
    box-shadow: 0 -1rem var(--black);
    z-index: 99999;
}

.preloader.loaded {
    transform: translateY(200%);
}

.loader {
    position: relative;
    width: 10vw;
    min-width: 10px;
    min-height: 10px;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s 0.25s;
}

.loader::before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: load 1s infinite;
    background: rgba(255, 255, 255, 0.25);
}

@keyframes load {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: flex-end;
}

nav>* {
    margin-right: 20px;
}

nav a {
    color: var(--teal);
    position: relative;
    transition: color .3s;
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
}

nav a:before {
    position: absolute;
    content: "";
    width: 0px;
    height: 1px;
    border-radius: 2px;
    background: var(--teal);
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s;
}

nav a:hover:before {
    width: 100%
}

/* CONTAINER */

.container {
    width: 50%;
    margin: 0 auto;
}

.js-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
}

.js-image {
    width: 600px;
    height: auto;
    margin: 0 auto;
}

/* ABUOT */

.about-container {
    display: flex;
    flex-direction: column;
    background: white;
    height: 950px;
    margin-bottom: 10px;
    overflow: hidden;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
}

.title-about {
    font-family: 'Montserrat', sans-serif;
    line-height: 34px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--teal);
    margin: 10px;
    padding-left: 30px;
    position: relative;
    z-index: 10;
}

.title-about::before {
    content: "";
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 99px;
    background: var(--lightblue);
    z-index: -1;
    left: 1.5rem;
    top: -.5rem;
    box-shadow: -2px 2px var(--white), -4px 4px var(--teal);
}

.card-about {
    display: flex;
    margin: 20px 0;
}

.my-image {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.my-image img {
    border-radius: 50%;
    width: 40%;
    filter: grayscale(20%);
    position: absolute;
    z-index: 1;
}

.my-bio {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 26px;
    color: #262f3d;
    flex-basis: 40%;
}

.my-bio .bio-name {
    color: var(--teal);
    font-size: 1rem;
    font-weight: bold;
}

.my-bio p {
    padding-top: 15px;
    font-size: 0.8rem;
    line-height: 19px;
    letter-spacing: 0.6px;
    text-align: center;
}

.emp-bio {
    color: var(--gray);
    font-size: 1rem;
}

.tech-mark {
    font-style: italic;
}

.canvas-for-button {
    height: 150px;
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-moved {
    padding: 10px 15px;
    text-align: center;
    background: var(--teal);
    color: var(--white);
    border-radius: 3px;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.btn-moved:hover {
    box-shadow: 0 1rem 1rem rgb(45 147 173 / 20%);
}

/* THREE INFO CARDS */

.about-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 120%;
    overflow: hidden;
}

.info-cards {
    display: flex;
    width: 100%;
    min-height: 350px;
    justify-content: space-around;
    padding: 20px 0 30px 0;
}

.card-1, .card-2, .card-3 {
    transform: translateY(120px);
    flex-basis: 25%;
    position: relative;
    padding-bottom: 30px;
    background: var(--white);
    border-radius: 10px;
    margin: 0 5px;
}

.card-1:before, .card-2:before, .card-3:before {
    position: absolute;
    transition: all 0.9s;
    content: "";
    width: 40%;
    height: 0;
    background: rgb(173, 216, 230, 0.4);
    padding-bottom: 35%;
    top: 5%;
    opacity: .75;
    z-index: -1;
    right: 20%;
}

.card-1:before {
    border-radius: 8% 92% 27% 73% / 59% 69% 31% 41%;
}

.card-2:before {
    border-radius: 39% 61% 65% 35% / 44% 53% 47% 56%;
}

.card-3:before {
    border-radius: 56% 44% 98% 2% / 97% 61% 39% 3%;
}

.card-1.one-transition {
    transition: 0.6s all;
}

.card-2.two-transition {
    transition: 0.7s all;
}

.card-3.three-transition {
    transition: 0.8s all;
}

.card-1:hover, .card-2:hover, .card-3:hover {
    transform: scale(1.01);
    transition: 0.3s all;
    background: rgb(173, 216, 230, 0.4);
}

.card-1:hover:before, .card-2:hover:before, .card-3:hover:before {
    background: var(--white);
}

.transit-top {
    transform: translateY(0);
}

.info-card {
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h2.card-title {
    font-size: 1rem;
    text-transform: none;
}

.card-text-container p {
    line-height: 20px;
    font-size: 0.8rem;
}

.card-text-container {
    padding: 0px 50px;
}

.card-title {
    color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    text-align: left;
    font-weight: 600;
    line-height: 1.33;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-text-size-adjust: 100%;
}

.svg-image-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
}

.svg-image {
    height: 200px;
    width: 250px;
}

.svg-image.card-two-fix {
    transform: scale(0.8);
    position: relative;
    top: 6px;
    left: 20px;
}

/* MY-WORK */

.my-work {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.my-work-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.my-work-header .title-about::before {
    background: var(--white);
}

.work-panos {
    display: flex;
    width: 100%;
}

.pano-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 85vh;
    margin-top: 10px;
}

.change-pano {
    border: none;
    color: var(--teal);
    padding: 5px 10px;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    margin-right: 3px;
}

.change-pano.active, .change-pano.active:hover {
    border: none;
    color: var(--white);
    background: var(--teal);
    outline: none;
}

.change-pano:hover {
    background: rgb(15, 151, 184, 0.3);
    color: white;
}

/* MAIN PANOS AND PANO CONTROLLERS */

.main-projects {
    display: flex;
    flex-direction: column;
    transition: 0.3s transform ease-out;
}

.smaller-projects {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s transform ease-out;
}

.down {
    transform: translateY(70px);
}

.up {
    transform: translateY(0);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.blink_me {
    animation: blinker 1s linear;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* BIGGER PROJECTS PANO */

.project {
    width: 100%;
    display: flex;
    height: 350px;
    margin-bottom: 10%;
    transition: 0.1s all;
}

.project-info {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.project-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 29px;
    font-size: 1rem;
    letter-spacing: 0.5px;
}

.project-description {
    font-weight: 400;
    font-size: 12px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 18px;
}

.project-info-tech {
    background: white;
    padding: 10px;
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 10px;
}

.project-info-tech span {
    color: var(--gray);
}

.project-btn {
    text-decoration: none;
    color: white;
    background: var(--teal);
    font-size: 13px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

a.project-btn:hover {
    box-shadow: 0 0.5rem 1rem rgb(45 147 173 / 20%);
}

.project:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
}

.project-image {
    width: 60%;
    position: relative;
}

.desktop {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: flex-end;
}

.project:nth-of-type(even) .desktop {
    justify-content: flex-start;
}

.desktop-img {
    border-radius: 20px;
    width: 85%;
    border: .4rem solid var(--teal);
    z-index: -1;
}

.phone-img {
    position: absolute;
    bottom: -5%;
    right: 10%;
    z-index: 99;
    border-radius: 30px;
    width: 100px;
    min-height: 200px;
    border: .25rem solid var(--black);
    box-shadow: 0 .75rem 0 0 var(--black), 0 -.75rem 0 0 var(--black), 0 1rem 1.5rem -.5rem rgba(84, 78, 97, .5);
}

.project:nth-of-type(even) .phone-img {
    left: 20px;
}

/* SMALLER PROJECTS PANO */

.small-project {
    height: 200px;
    flex: 1;
    flex-basis: 32%;
    margin: 0 5px 10px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.small-project-link img {
    width: 100%;
    min-height: 200px;
    filter: grayscale(100%);
    transition: 0.2s all;
}

.small-project:hover img {
    filter: grayscale(0);
}

.small-project-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.small-project-description {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateY(110%);
    transition: 0.2s all;
}

.small-project:hover .small-project-description {
    transform: translateY(80%);
}

.small-project-description p {
    background: #601B45;
    color: var(--white);
    line-height: 10px;
    font-size: 10px;
    padding: 5px;
}

/* CONTACT CONTAINER */

.contact-container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    background: var(--white);
    padding-top: 30px;
    position: relative;
}

.container-bilboard-form {
    display: flex;
}

.contact-bilboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.contact-bilboard p {
    line-height: 16px;
    padding-right: 30px;
}

.contact-bilboard .contact-me {
    font-family: "Montserrat";
    font-size: 0.9rem;
    text-transform: none;
    line-height: 2;
    font-weight: 600;
    letter-spacing: 3px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 30px;
}

.direct-contact {
    color: gray;
    font-size: 1rem;
    line-height: 30px;
    padding-bottom: 10px;
}

.contact-bilboard img {
    width: 95%;
    height: 300px;
    opacity: 0.9;
}

/* FORM */

.contact-controller {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form-label {
    width: 80%;
    height: auto;
    border: 2px solid var(--teal);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 2px;
    position: relative;
}

.label-input-text {
    background: var(--white);
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.5s all;
    padding: 0 3px;
}

.success-msg {
    color: var(--teal);
    font-size: 0.8rem;
    line-height: 1px;
    position: relative;
    top: -30px;
}

.error-msg {
    color: red;
    position: absolute;
    bottom: -14px;
    text-transform: lowercase;
    font-size: 10px;
    z-index: 1000
}

.form-label-input {
    width: 95%;
    border: none;
}

.form-label-input:focus {
    outline: none;
}

.form-label-input:focus~.label-input-text {
    top: -8px;
    font-size: 0.7rem;
}

.form-button {
    width: 150px;
    color: var(--white);
    background: var(--teal);
    border: none;
    border-radius: 99px;
    padding: 10px;
}

.form-button:hover {
    box-shadow: 0 0.5rem 1rem rgb(45 147 173 / 20%);
    cursor: pointer;
}

.form-button:active {
    outline: none;
    font-size: 0.9rem;
}

.btn-icon {
    position: absolute;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    bottom: -1.5rem;
    left: calc(50% - 1.5rem);
    border-radius: 99px;
    border: 1px solid var(--gray);
    transition: 0.3s all;
    border: none;
}

.btn-icon:hover {
    transform: translateY(5px);
    box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 15%);
    background: var(--gray);
    cursor: pointer;
}

.btn-icon:active, .btn-icon:focus {
    outline: none;
}

.icon {
    font-size: 1.5rem;
    color: var(--gray);
    transition: 0.3s all;
}

.btn-icon:hover .icon {
    color: var(--white);
}

footer {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-text {
    font-size: 0.6rem;
    text-align: end;
}

/* RESPONSIVE */

@media (max-width: 1920px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 1500px) {
    .container {
        width: 94%;
    }

    .about-container {
        height: 950px;
    }
}

@media (max-width: 840px) {
    .container {
        width: 100%;
    }

    .card-about {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
    }

    .card-about .my-image {
        display: none;
    }

    .my-bio {
        padding: 10px;
    }

    .my-bio img {
        width: 50%;
    }

    .my-bio p {
        padding: 0 30%;
    }

    .info-cards {
        display: flex;
        flex-direction: column;
    }

    .svg-image-container {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .my-work-header {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }

    .my-work-header>* {
        margin-bottom: 10px;
    }

    .project {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    .project:nth-of-type(even) {
        display: flex;
        flex-direction: column-reverse;
    }

    .project-description {
        text-align: center;
    }

    .project-title {
        display: none;
    }

    .desktop-img {
        width: 100%;
    }

    .phone-img {
        display: none;
    }

    .container-bilboard-form {
        display: flex;
        flex-direction: column;
    }

    .contact-controller {
        width: 100%;
    }

    .contact-form {
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        width: 60%;
        margin-top: 30px;
    }

    .success-msg {
        top: 0px;
    }

    .title-about {
        font-size: 1rem;
    }

    .switch-table {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .about-container {
        min-height: 1650px;
    }

    .contact-controller {
        padding-bottom: 20px;
    }

    .small-project {
        flex-basis: 45%;
    }
}

@media (max-width: 500px) {
    .desktop-img {
        width: 160%;
        position: relative;
        left: 33%;
    }

    .project:nth-of-type(even) .desktop-img {
        left: -33%;
    }

    .container {
        width: 100%;
    }

    nav {
        justify-content: space-between;
    }

    .my-image img {
        width: 90%;
    }

    .project-info {
        width: 80%;
    }

    .project-info-presentation {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 90%;
    }

    .about-container {
        min-height: 1850px;
    }

    .js-image {
        width: 350px;
        height: 250px;
    }

    .contact-controller {
        padding-bottom: 20px;
    }
}

@media (max-width: 350px) {
    .about-container {
        min-height: 2950px;
    }
}